language: cpp
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq cmake flex bison libboost1.48-dev libboost1.48-all-dev
# Unfortunately this is currently the only decent way to get LLVM 3.2 on Ubuntu. :(
  - wget "http://llvm.org/releases/3.2/clang+llvm-3.2-x86-linux-ubuntu-12.04.tar.gz"
  - tar -xzf "clang+llvm-3.2-x86-linux-ubuntu-12.04.tar.gz"
  - mv "clang+llvm-3.2-x86-linux-ubuntu-12.04" deps

notifications:
  email: false
  irc: 
    channels:
      - "irc.freenode.org#ides"
    use_notice: true
    skip_join: true

compiler:
  - gcc
  - clang

script: ctest -v -C Release -D Continuous
env: CTEST_OUTPUT_ON_FAILURE=1

